.viewport
{
	height: 100%;
	width: 100%;
	border: 1px solid #000;
	background-color: #303030;
	position: relative;
	overflow: auto;
}

.viewport .level
{
	position: absolute;
	border: 1px solid #888;
	transform: translate(-50%, -50%);
}

.viewport .level:hover
{
	border: 2px solid #fff;
}

.viewport .level.selected
{
	border: 3px solid yellow;
}