.viewport
{
	height: 100%;
	width: 100%;
	background-color: #303030;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}

.viewport .level
{
	position: absolute;
	border: 1px solid #888;
	transform: translate(-50%, -50%);
	transition: width .2s, height .2s ease;
}

.viewport .level:hover
{
	border: 2px solid #fff;
}

.viewport .level.selected
{
	border: 3px solid yellow;
}

.viewport.drag
{
	cursor: move;
}