.properties-list
{
	margin-top: 5px;
	display: inline-block;
	vertical-align: top;
}

.card-header
{
	font-size: 18px;
	padding-left: 10px;
	cursor: pointer;
	color: white;
}

.card-header:hover
{
	background-color: grey;
}

.card-body
{
	margin-top: 5px;
	padding-left: 20px;
	color: white;
}

hr.rounded
{
	margin-top: 2vh;
	margin-bottom: 2vh;
	border-top: 1px solid #bbb;
	border-radius: 5px;
}