.tileset
{
	position: relative;
	overflow: auto;
}

.tileset img
{
	max-width: inherit;
	overflow: auto;
}

.selection
{
	position: absolute;
	width: 32px;
	height: 32px;
	border: 2px dashed lightblue;
}

#file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}