.sidebar
{
	width: 300px;
}

.panel {
	border-radius: 5px;
	background: #474747;
	margin-bottom: 4px;
}

.sidebar .panel:last-child {
	margin-bottom: 0px;
}

.sidebar .tileset {
	position: relative;
	overflow: auto;
}

.sidebar .tileset img {
	max-width: inherit;
	overflow: auto;
}

.header
{
	background: #4f4f4f;
	color: #F7F7F7;
	border-radius: 5px 5px 0px 0px;
	padding-left: 10px;
}

.toolbar .divider {
	height: 50px;
	width: 2px;
	background: #4f4f4f;
}

.toolbar .button {
	font-size: 19px;
	margin: 2px;
	border-radius: 4px;
	transition: background-color 0.2s;
}

.toolbar .button:hover {
	background: #666;
}

.toolbar .button.active {
	color: #fff;
	background: #222;
}

.toolbar .button.inactive {
	color: #666;
	background: transparent;
}

.resizer
{
	width: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.resizer:hover
{
	cursor: e-resize;
}

.resizer .line {
	background: #888;
}

.resizer.vertical .line {
	width: 1px;
	height: 100px;
}

.resizer.horizontal .line {
	width: 100px;
	height: 1px;
}

.resizer .line:hover
{
	cursor: e-resize;
}