.sidebar
{
	height: 100%;
	width: 300px;
	background-color: lightgray;
	border: 1px solid #000;
}

.header
{
	background-color: black;
	color: white;
}

.resizer
{
	width: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.resizer:hover
{
	cursor: e-resize;
}

.resizer .line {
	background: #888;
	width: 5px;
}